@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* Shared style */

.display-flex {
    display: flex;
}

.dark-02 {
    color: #424242;

}

.dark-03 {
    color: #727272;
}

.text-primary {
    color: #FF900E;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}



/* main */
main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;

}

/* header style */

.bg-color {
    background-color: rgba(255, 144, 14, 0.1);
}

.brand {
    font-weight: bold;
    font-size: 45px;
}

.navbar {
    justify-content: space-between;
    align-items: center;

}

.nav-item {
    list-style: none;
    margin-right: 30px;

}

.nav-link {
    text-decoration: none;
}

.navbar,
.banner {
    max-width: 1140px;
    margin: 0 auto;
}

/* banner-style */


.banner-content {
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;

}

.banner-title {
    font-weight: bold;
    font-size: 4rem;
}

.btn-primary {
    color: white;
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;

}

.banner-img {
    width: 100%;
}

/* Main>team-features */

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}

.team {
    align-items: center;
}

.team-features {
    margin-left: 76px;
    max-width: 530px;
}

#quick-list {
    font-weight: 500;
}

/* feature you enjoy*/

.features {
    gap: 146px;
}

#Features-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 21px;

}

.feature-card {
    padding: 30px 42px;
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}

.feature-card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
}

#Experience-badge {
    padding: 45px 42px;
    margin-left: -100px;
    margin-top: -100px;
}

#Experience-year {
    font-size: 4rem;
    font-weight: 700;
}

#Experience-btn-font {
    font-size: 24px;
    font-weight: 500;
}

/* some fact card */

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card {
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;

}

.fact-description {
    max-width: 540px;
    margin-bottom: 100px;
    margin-top: 24px;
}

/* sponsor */
.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 150px;
}

.sponsor-item img {
    filter: grayscale(100%);
}

.copyright {
    max-width: 1440px;
    padding: 39px 410px;
    text-align: center;
    margin-top: 130px;
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 216px;

}

/* responsive media query */

/* small device */

@media screen and (max-width:576px) {

    .navbar,
    .nav-links,
    .team,
    .features {
        flex-direction: column;
    }

    .team-img-container,
    .facts-container,
    .sponsor-item {
        display: grid;
        grid-template-columns: 1fr;
    }

    .facts-container {
        justify-items: center;
        gap: 24px;
    }

    .sponsor-item {
        justify-items: center;
        gap: 70px;
    }

    .team-features {
        margin-left: 20px;
    }

    #features-img {
        width: 100%;
    }

    #Experience-badge {
        margin-top: 20px;
        margin-left: 20px;
        padding: 20px 25px;

    }

    #Experience-btn-font {
        font-size: 12px;
        font-weight: 300;

    }

    #Experience-year {
        font-size: 2rem;
        font-weight: 700;
    }

    .copyright {
        padding: 15px 20px;
    }
}

    /* for medium device */

    @media screen and (min-width:576px) and (max-width:992px) {

            .team,
            .features {
                flex-direction: column;
            }

            .team-features {
                margin: 10px auto;
            }

            #features-img {
                width: 100%;
            }

            .sponsor-item,
            .facts-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 50px;
                justify-items: center;
            }

            #Experience-badge {
                margin-top: 20px;
                margin-left: 20px;
                padding: 20px 25px;

            }

            #Experience-btn-font {
                font-size: 12px;
                font-weight: 300;

            }

            #Experience-year {
                font-size: 2rem;
                font-weight: 700;
            }

            .copyright {
                padding: 30px 60px;

            }
        }
    