@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* Shared style */

.display-flex {
    display: flex;
}

.dark-02 {
    color: #424242;

}

.dark-03 {
    color: #727272;
}

.text-primary {
    color: #FF900E;
}
.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}



/* main */
main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
    
   
}




/* header style */

.bg-color {
    background-color: rgba(255, 144, 14, 0.1);
}

.brand {
    font-weight: bold;
    font-size: 45px;
}

.navbar {
    justify-content: space-between;
    align-items: center;

}

.nav-item {
    list-style: none;
    margin-right: 30px;

}

.nav-link {
    text-decoration: none;
}

.navbar,
.banner {
    max-width: 1140px;
    margin: 0 auto;
}

/* banner-style */


.banner-content {
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;


}

.banner-title {
    font-weight: bold;
    font-size: 4rem;
}

.btn-primary {
    color: white;
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;

}

.banner-img {
    width: 100%;
}

/* Main>team-features */

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}


.team {
    align-items: center;

}

.team-features {
    margin-left: 76px;
    max-width: 530px;

}

#quick-list {
    font-weight: 500;
}

/* some fact card */


.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
     margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600 ;
    margin-top: 5px;
   
}
.fact-description{
    max-width: 540px;
    margin-bottom: 100px;
    margin-top: 24px;
}


/* responsive media query */

/* small device */

@media screen and (max-width:576px) {

    .navbar,
    .nav-links,
   .team {
        flex-direction: column;
    }

    .team-img-container,
    .facts-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-container{
        justify-items: center;
        gap:24px;
    }

    .team-features {
        margin-left: 20px;
    }
}

/* for medium device */

@media screen and (min-width:576px) and (max-width:992px)
{   
    .team {
        flex-direction: column;
    }
    .team-features {
        margin: 10px auto;
    }   
}